/*GENERAL*/
.redFnt {
  color: #d7385e;
}

/*HEADER DESKTOP*/
.HeaderDesktop {
  width: 100%;
  padding: 3% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7.5vw;
  text-shadow: 0.05em 0.055em 0px #e7d39f;
}

/*MAIN (MIDDLE) SECTION DESKTOP*/
.MainDesktop {
  display: flex;
  flex-flow: column;
  align-items: center;
}
  .MainDesktop form {
    width: 70%;
    display: flex;
    flex-flow: column;
  }
  .MainDesktop form input {
    height: 2.5em;
    text-align: center;
    font-size: 1.7em;
    margin: 1.2em 0 0 0;
    border: none;
    border-radius: 10px;
    background-color: #815a8a;
    color: #e7d39f;
  }
    .MainDesktop form button {
      position: fixed;
      width: 100%;
      height: calc(50vh - 5vw); /*MAYBE 55vh*/
      bottom: 0;
      left: 0;
      padding: 0;
      border: none;
      border-radius: 50px 50px 0 0;
      background-color: #815a8a;
      color: #e7d39f;
      font-size: 8vw;
    }