@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #522d5b;
  color: #e7d39f;
}